
body{
    
    color: rgb(255, 255, 255);
    background: black;
}
.nav-link:hover{
    color: rgb(255, 0, 0);

}
.carousel-inner{
    border-radius: 30px;
    
}

.navbar-brand img{
    width: 40px;
}

/*title*/


/*home */
#portforlio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), rgb(255, 0, 0));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;

}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;

}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ffffff;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: rgb(255, 0, 0);

}


.container img{
    border-radius: 10px;
    background: #262626;
    padding: 10px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
    border-width: 100px;
}

.container img:hover{
    background:rgb(255, 0, 0);
    transform: translateY(-10px);
}


/* contact section */

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;

}

.contact-left p i{
    color: rgb(255, 0, 0);
    margin-right: 15px;
    font-size: 25px;

} 

.social-icons{
    margin-top: 30px;

}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color:#ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: rgb(255, 0, 0);
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background: rgb(255, 0, 0);

}

.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;

}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;

}